

    <nav class="navbar navbar-inverse">
            <div class="container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only"> Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"> </span>
                    <span class="icon-bar"> </span>
                </button>
    
                <a class="navbar-brand" href="#"> לדף הבית</a>
    
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="#!/statistics">סטטיסטיקה</a>
                        </li>
                        <li>
                            <a href="#!/land">פרטי נכס</a>
                        </li>
                        <li>
                            <a href="#!/user">פרטי משתמש</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    
        <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12" style="background-color:lavender;">
                    <h2>בחר מרשימה</h2>
                    <ul class="list-group"></ul>
                    <a class="list-group-item list-group-item-action" ng-click="openDetails($index)" ng-repeat="user in users">{{user.usertype}} {{user.firstname}} {{user.lastname}}</a>
                    </ul>
                    <br>
                    <a class="btn btn-primary btn-md" href="#!/userformnew">הוסף משתמש חדש</a>
                </div>
          </div>
